{% include "newVMS/header.html" %}
{% include "newVMS/navbar.html" %}

<div id="#content">
    <div class="row">
        <div class="container">
            <div class="col-xs-12">
                <h1>
                    Department Of Applied Mathematics and Computational Sciences
                </h1>
                <h2>
                    PSG College Of Technology <br/>
                    Viva Management System <br/>
                    <h3>Version No : <b>0.1</b> - 02/01/2017 </h3>

                </h2>

                <h3>
                    <b>Contributors :  </b>

                </h3>
                <br/>
                <h4>
                    <ul>
                        <li>
                            Ramanathan P (12pw28) <br/>
                        </li>
                        <li>
                            Srihare G.R (12pw36) <br/>
                        </li>
                        <li>
                            Prasanna J (12pt22) <br/>
                        </li>
                    </ul>
                </h4>

            </div>
        </div>
    </div>
    <div id="copyright" class="row container">
        <div class="col-xs-12">
            <h5>Copyright Reserved 2017 to DAMCS PSG Tech </h5>
        </div>
    </div>
</div>


{% include "newVMS/footer.html" %}
