asn1crypto==0.24.0
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
Django==2.1
google-auth==1.5.1
gspread==3.0.1
httplib2==0.11.3
idna==2.7
numpy==1.15.1
oauth2client==4.1.2
pandas==0.23.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
rsa==3.4.2
six==1.11.0
urllib3==1.23
utils==0.9.0
